*{
    margin:0;
    padding:0;
}

#search_bar{
    border-radius: 10px !important;
} 

#search_bar > input{
    width:40vw;
    border: none;
    padding:10px; 
    background-color: transparent;
}

#hero-section{
    display: flex;
    justify-content: center;

}

#catergories-list{
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: space-between;
    margin: auto;
}

.scrollable_div{
    width: 85vw;
    margin: auto;
    overflow: hidden;
}

.list{
    white-space: nowrap;
    overflow-x: scroll;
}

.my-card{
    width: 180px;
    margin-right: 20px;
    display:inline-block !important;
}

.my-card>img{
    margin:auto;
}

.time_taken{
    font-size:9px; 
    background-color: #f8f8f8;
    font-weight: 800;
    width:fit-content;
    padding:2px 5px;
    border-radius:5px;
}

.product_name{
    white-space: wrap;
    font-size:14px;
    font-weight:600;

}

.product_weight{
    font-size: 14px;
    color: gray;
    margin-top: 5px;

}

.product_price{
    margin: 0;
    padding: 0 !important;
}

footer{
    width:85vw;
    margin: auto;
}

#footer_r2{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

#social-icons{
    display: flex;
    gap: 10px;
}

.social-icons{
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

#downloads{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#footer_r2>p{
    width: 40%;
}

@media screen and (max-width: 500px){
    #hero-section{
        display: none;
    }

    nav{
        flex-direction: column;
    }

    #delivery-div{
        border: non !important;
    }

    #search_bar{
        display: flex;
        align-items: cneter;
    }

    #search_bar>input{
        width: 80vw;
    }
    .scrollable_div{
        margin-top: 50px;
    }

    #footer_r3{
        width: 90%;
        text-align: justify;
    }

    #footer_r2{
        flex-direction: column;
    }

    #footer_r2>p{
        width: 100%;
        text-align: justify;
    }

    #social-icons{
        margin-top: 20px;
         
    }
}